nav {
  font-family: 'Bungee Shade', cursive;
  background-color: #5985ca /* #4056a1*/;
  color: white;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 40px;
}

/* only display FLEX to the PARENT component */
.writeATweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
}

.photo-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
