nav {
  font-family: 'Bungee Shade', cursive;
  background-color: #5985ca /* #4056a1*/;
  color: white;
  text-shadow: 3px 3px #1f2e5c;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 40px;
  /*--- nav bar still stay on top when scroll down to bottom page---*/
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  /* use Z-INDEX to overlay element on-top of another element */
  z-index: 2;
}

/* ----TOP BUTTON BOUNCE---- */
i.boucing {
  animation: bounce2 1.5s ease infinite forwards;
}
@keyframes bounce2 {
  0% {
    transform: translateY(-0.2rem);
  }
  50% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(-0.2rem);
  }
}

/* only display FLEX to the PARENT component */
.writeATweetHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
}

div.profile-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-left: 12px;
}
.profile-h2 {
  margin-bottom: 0%;
  font-weight: 900;
}
.profile-h4 {
  margin-top: 0%;
  font-size: medium;
  display: flex;
  /* align-self: flex-start; */
}
.profile-name-display {
  color: #1c4d98;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.photo-name {
  margin-top: 120px;
  height: 400px;
  width: 100%;
  color: #5985ca;
  text-shadow: 1px 1px black;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Photo and name display Background Texture */
  background-color: #ffd6e5;
  opacity: 0.9;
  background-image: linear-gradient(#fffcbc 2px, transparent 1px),
    linear-gradient(to right, #fffcbc 2px, #ffd6e5 1px);
  background-size: 20px 20px;
}

/*Paper Texture Backgroud*/ /* 
background-color: #ffd0e2;
  opacity: 0.8;
  background-image: linear-gradient(#fcf0af 2px, transparent 2px),
    linear-gradient(90deg, #fcf0af 2px, transparent 2px),
    linear-gradient(#fcf0af 1px, transparent 1px),
    linear-gradient(90deg, #fcf0af 1px, #ffd0e2 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
*/

/* Gradient Background */ /* 
background-image: linear-gradient(
    to bottom,
    #fcf0af,
    #ffe5b4,
    #ffdcbe,
    #ffd6ca,
    #ffd2d4,
    #fac8d4,
    #f2bfd7,
    #e6b8db,
    #cda8d8,
    #af9bd5,
    #8a8fd1,
    #6585b9
  );
*/

/* Gradient 3 colors Style */
/* background-image: linear-gradient(
  135deg,
  rgba(246, 200, 218, 1) 0%,
  rgba(252, 240, 175, 1) 50%,
  rgba(89, 133, 202, 1) 100%
); */

/* 
  #fcf0af
  #f6c8da
  #5985ca */
