nav {
  font-family: 'Bungee Shade', cursive;
  background-color: #5985ca /* #4056a1*/;
  color: white;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 40px;
}

/* only display FLEX to the PARENT component */
.writeATweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
}

.avatar-name {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eedce3;
  opacity: 0.8;
  background-image: linear-gradient(#faf6e1 2px, transparent 2px),
    linear-gradient(90deg, #faf6e1 2px, transparent 2px),
    linear-gradient(#faf6e1 1px, transparent 1px),
    linear-gradient(90deg, #faf6e1 1px, #eedce3 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
