section.new-tweet {
  width: 100%;
}

/* ---TWEET BUTTON STYLING--- */
.tweet-button-shadow-dark {
  align-items: center;
  background-color: #5985ca;
  border: 2px solid #09295a;
  border-radius: 3px;
  box-sizing: border-box;
  color: #09295a;
  cursor: pointer;
  display: flex;
  font-family: 'Bungee Inline';
  text-shadow: 3px 3px black;
  color: white;
  font-size: 25px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.tweet-button-shadow-dark:after {
  background-color: #09295a;
  border-radius: 3px;
  content: '';
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}
.tweet-button-shadow-dark:hover:after {
  transform: translate(0, 0);
}
.tweet-button-shadow-dark:active {
  background-color: #09295a;
  outline: 0;
}
.tweet-button-shadow-dark:hover {
  outline: 0;
}
@media (min-width: 768px) {
  .tweet-button-shadow-dark {
    padding: 0 15px;
  }
}

/* ----ERROR BUTTON STYLING---- */
.error-button {
  align-items: center;
  background-color: #c6515e;
  border: 2px solid #5d111a;
  border-radius: 3px;
  box-shadow: 7px 9px #5d111a;
  box-sizing: border-box;
  color: #5d111a;
  cursor: pointer;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;

  text-shadow: 3px 3px black;
  color: white;
  font-size: 25px;
  height: 55px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* ---DISPLAY COUNTER--- */
.counter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: 'Bungee Inline';
  text-shadow: 2px 2px #fbeea4;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #1c4d98;
}
/* ---COUNTER-RED--- */
.counter-red {
  font-family: 'Bungee Inline';
  text-shadow: 2px 2px #fbeea4;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #981c1c;
}

/* ---TWEET-FORM STYLING--- */
.tweet-form {
  display: flex;
  flex-direction: column;
  row-gap: 0.1em;
}

#tweet-text {
  width: 100%;
  height: 60px;

  outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 6px dashed black;
  background-color: var(--light-grey);
  resize: none;
  word-break: break-all;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  /* block-size: fit-content; */
}

.question-for-user-input {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: black;
}

div.list-of-tweet {
  width: 100%;
}

div.tweet-button-and-counter {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

/* ----------------TWEET CONTAINER - where tweet by users got display -------------- */
footer.footer-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
}

header.display-tweet-from-user {
  display: flex;
  justify-content: space-between;
}

article.tweet {
  font-family: 'Source Sans Pro', sans-serif;
  border: solid 5px;
  margin-top: 40px;
}

article.tweet:hover {
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  border: solid 5px;
  padding: 0.25em 0.5em;
  box-shadow: #5985ca 3px 3px 0px 0px, #5985ca 5px 5px 0px 0px,
    #5985ca 5px 5px 0px 0px, #5985ca 6px 6px 0px 0px, black 7px 7px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  background-color: #fbfaf2;
}

.tweet-label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: #5985ca solid 6px;
}

/* ----HOVERING EFFECT FOR TWEET ICON----- */
i.fa-solid {
  color: #5985ca;
}
i.fa-solid:hover {
  cursor: pointer;
  color: #d988a7;
}

div.pading-tweet-box {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

div.mock-up-photo-username {
  display: flex;
  flex-direction: row;
}
h3.mock-up {
  color: #a0b9e0;
  text-shadow: 1px 1px #5985ca;
}

i.icon {
  margin-left: 0.5rem;
}

img.ava {
  margin-right: 7px;
}
